--extra-index-url https://__token__:qKtzEZznR88brmJub-nm@gitlab.lan.verbio.com/api/v4/projects/949/packages/pypi/simple
pyformatter
google >= 3.0.0
grpcio >= 1.47.0
grpcio-health-checking >= 1.47.0
logger >= 1.4
protobuf >= 3.20.1
resampy
typing_extensions >= 4.3.0
onnxruntime >= 1.12.1
simple-ctc @ git+https://github.com/mthrok/ctcdecode@b1a30d7a65342012e0d2524d9bae1c5412b24a23
